* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
header {
    background: transparent;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 44rem;
    z-index: 20;
    display: grid;
    place-items: center;
    padding: 0 10px;
    pointer-events: none; 
}
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    background: rgba(17, 31, 50, 0.9);
    border-radius: 30px;
    padding: 8px 20px;
    max-width: 1100px;
    width: 100%;
    pointer-events: auto; 
    backdrop-filter: saturate(180%) blur(10px);
}
html{
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}

.link{
    text-decoration: none;
    position: relative;
    
 }

.link:before{
   position:absolute;
   bottom: -3px;
   content: " ";
   border-bottom: 2px solid  ;
   width:100%;
   left:0%;
   transition: all 0.5s;
   opacity: 0;
}



.logo {
    align-items: center;
    display: grid;
}

.logo img{
    width: 4rem;
    transition: opacity 0.3s ease;
}

.logo:hover img {
    opacity: 0.8; 
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    justify-content: center;
    min-width: 200px;
    padding: 0 23px;
    grid-auto-flow: column;
    
}

nav a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline;
}


nav a:hover {
    
    text-decoration: underline;
}

nav a:active {
    text-decoration: none;
    color: #ECAE00;
}

.btn-brief {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 700;
    background: white;
    color: #f9c502;
    border-radius: 16px;
    padding: 10px 16px;
    font-weight: 700;
    max-width: 10rem;
    font-size: 13px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    text-align: center; 
}

footer .btn-brief .link{
    color: #f9c502;
}
.btn-brief:hover {
    background: transparent;
    color: #f9c502;
    border: 1px solid #f9c502;
}


body {
    font-family: Onest, sans-serif;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("../img/about.png");
    color: #000;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 7rem;
    overflow-x: hidden !important;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 40px;
}


ul.options-list{
    gap: 1rem;
    
}
h2{
    font-size: 2px;
    font-weight: 900;
}

.about h2.title {
  margin-bottom: 30px;
  color:#ECAE00;
  
}


.about .options-list {
  margin-bottom: 20px;
}

.about p {
  margin: 0;
  max-width: 35rem;
}

.options-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  list-style: none;
  padding: 0;
  margin: 0;
}

.options-list li img {
  display: inline-block;
  vertical-align:super;
  width:3rem;
    height: 3rem;

}

.options-list li p {
  display: inline-block;
  vertical-align: middle;
    margin-left: 2rem;
  font-size: 20px;
    font-weight: 900;
    max-width: 10rem;
}


.creators h2 {
  margin-bottom: 20px;
}
.creators {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
  margin-bottom: 5rem;
}

.creators-item p{
    font-size: 14px;
    
}
.text-block{
    max-width: clamp(400px,30%,700px);
}
.creators-item img{
    border-radius: 20px;
    object-fit: cover;
    max-width: 350px;
    max-height: 350px;
    width: 40vw;
    height: 40vw;
}


footer {
    background: rgba(17, 31, 50, 0.95);
    color: white;
    padding: 20px 5%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: 100vw !important;
}

footer .btn-brief {
    display: grid;
    place-items: center;
}

.footer-left {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 6px;
    text-align: left; 
}

footer a {
    color: white;
    font-weight: 700;
}

.footer-contact-phone {
    font-weight: 700;
    font-size: 1.1rem;
}

.social-icons {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    gap: 12px;
}

.social-icons img {
    
    width: 20px;
    height: 20px;
    
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
}




.footer-img{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.footer-right {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 8px;
    text-align: center; 
}

.footer-right a{
    transition: color 0.4s;
}
.footer-right a:hover{
    color: #ECAE00;
}
