* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
header {
    background: transparent;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 44rem;
    z-index: 20;
    display: grid;
    place-items: center;
    padding: 0 10px;
    pointer-events: none; 
}
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    background: rgba(17, 31, 50, 0.9);
    border-radius: 30px;
    padding: 8px 20px;
    max-width: 1100px;
    width: 100%;
    pointer-events: auto; 
    justify-content: space-between;
    backdrop-filter: saturate(180%) blur(10px);
}
html{
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}

.link{
    text-decoration: none;
    position: relative;
 }

.link:before{
   position:absolute;
   bottom: -3px;
   border-bottom: 2px solid  ;
   width:100%;
   left:0%;
   transition: all 0.5s;
   opacity: 0;
}



.logo {
    align-items: center;
    display: grid;
}

.logo img{
    width: 4rem;
    transition: opacity 0.3s ease;
}

.logo:hover img {
    opacity: 0.8; 
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    justify-content: center;
    min-width: 200px;
    padding: 0 23px;
    grid-auto-flow: column;
    
}

nav a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline;
}

nav a:hover {
    
    text-decoration: underline;
}

nav a:active {
    text-decoration: none;
    color: #ECAE00;
}

.btn-brief {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 700;
    background: white;
    color: #f9c502;
    border-radius: 16px;
    padding: 10px 16px;
    font-weight: 700;
    max-width: 10rem;
    font-size: 13px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    text-align: center; 
}

footer .btn-brief .link{
    color: #f9c502;
}
.btn-brief:hover {
    background: transparent;
    color: #f9c502;
    border: 1px solid #f9c502;
}


body {
    font-family: Onest, sans-serif;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    background: url("../img/portfolio.png");
    color: #000;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 7rem;
    overflow-x: hidden !important;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px 2rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 10px;
}
h2.title {
  color:#ECAE00;
  width: 95%;
  text-align: right;
  
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 1200px;
  padding: 0 20px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  transition: filter 0.3s ease, opacity 0.3s ease;;
}

.portfolio-item:hover img {
  filter: blur(5px);
}
.portfolio-item:active img{
  opacity: 0;
}
.active-text{
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top:1rem;
  left:1rem;
  font-size: 18px;
  font-weight: 600;
  
}
.portfolio-item:active .active-text{
  opacity: 1;
}

.mute-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: left;
}

.portfolio-item:hover .mute-block {
  opacity: 1;
}
.portfolio-item:active .mute-block{
  opacity: 0;
}

.btn-brief-bottom {
    background: #e9a700;
    color: #230f00;
    padding: clamp(14px, 3vw, 18px) clamp(32px, 6vw, 50px); 
    border: none;
    border-radius: 30px;
    font-weight: 800;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5%;
    transition: color 0.6s, border-radius 0.6s;
    width: fit-content;
    min-width: min(250px, 80vw); 
    font-size: clamp(14px, 2vw, 16px); 
    margin-top: 2rem;    
}

.btn-brief-bottom:hover {

   color: white;
   border-radius: 15px;
}
.btn-brief-bottom:hover .link:before{

   border-color: #ffffff;
   opacity: 1;
}
.mute-block h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

footer {
    background: rgba(17, 31, 50, 0.95);
    color: white;
    padding: 20px 5%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: 100vw !important;
}

footer .btn-brief {
    display: grid;
    place-items: center;
}

.footer-left {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 6px;
    text-align: left; 
}

footer a {
    color: white;
    font-weight: 700;
}

.footer-contact-phone {
    font-weight: 700;
    font-size: 1.1rem;
}

.social-icons {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    gap: 12px;
}

.social-icons img {
    
    width: 20px;
    height: 20px;
    
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
}




.footer-img{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.footer-right {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 8px;
    text-align: center; 
}

.footer-right a{
    transition: color 0.4s;
}
.footer-right a:hover{
    color: #ECAE00;
}
