
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background: transparent;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 44rem;
    z-index: 20;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    pointer-events: none; 
}
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(17, 31, 50, 0.9);
    border-radius: 30px;
    padding: 8px 20px;
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    pointer-events: auto; 
    backdrop-filter: saturate(180%) blur(10px);
}
html{
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}

.link{
    text-decoration: none;
    position: relative;
    
 }

.link:before{
   position:absolute;
   bottom: -3px;
   content: " ";
   border-bottom: 2px solid  ;
   width:100%;
   left:0%;
   transition: all 0.5s;
   opacity: 0;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 4rem;
    transition: opacity 0.3s ease;
}

.logo:hover img {
    opacity: 0.8; 
}

nav {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    min-width: 200px;
}

nav a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 16px;
    transition: background-color 0.3s ease;
}


nav a:hover {
    
    text-decoration: underline;
}

nav a:active {
    text-decoration: none;
    color: #ECAE00;
}

.btn-brief {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 700;
    background: white;
    color: #f9c502;
    border-radius: 16px;
    padding: 10px 16px;
    font-weight: 700;
    max-width: 10rem;
    font-size: 13px;
    white-space: nowrap;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

footer .btn-brief .link{
    color: #f9c502;
}
.btn-brief:hover {
    background: transparent;
    color: #f9c502;
    border: 1px solid #f9c502;
}


body {
    font-family: Onest, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../img/services.png");
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
    overflow-x: hidden !important;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

section.business-events,
section.private-sector {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

section > div.text-block {
    
    min-width: 280px;
}


section h2 {
    color: #f0b000;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    user-select: none;
}

section p {
    font-size: 12px;
    margin-bottom: 20px;
    max-width: 450px;
    line-height: 1.4;
}

ul.options-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
ul.options-list .option-down{
    padding-top: clamp(0px,5vw,10rem);
}
ul.options-list .option-left{
    padding-left: clamp(0px,5vw,10rem);
}
ul.options-list li {
    font-size: 24px;
    font-weight: 900;
    max-width: 220px;
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: default;
    min-width: 20rem;
}
ul.options-list li img {
    width:3rem;
    height: 3rem;
}
section.private-sector {
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    
}

section.private-sector ul.options-list {
    flex-direction: column;
    gap: 20px 0;
    max-width: 400px;
}

section.private-sector .btn-brief-bottom {
    background: #e9a700;
    color: #230f00;
    padding: clamp(12px, 3vw, 15px) clamp(25px, 8vw, 40px); 
    border: none;
    border-radius: 30px;
    font-weight: 800;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: auto;
    transition: color 0.6s, border-radius 0.6s;
    width: fit-content;
    min-width: min(250px, 80vw); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 2vw, 16px); 
}

section.private-sector .btn-brief-bottom:hover {

   color: white;
   border-radius: 15px;
}
section.private-sector .btn-brief-bottom:hover .link:before{

   border-color: #ffffff;
   opacity: 1;
}

footer {
    background: rgba(17, 31, 50, 0.95);
    color: white;
    padding: 20px 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start;
    gap: 20px;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    width: 100vw !important;
}

footer .btn-brief {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    min-width: 250px;
    text-align: left; 
}

footer a {
    color: white;
    font-weight: 700;
}

.footer-contact-phone {
    font-weight: 700;
    font-size: 1.1rem;
}

.social-icons {
    margin-top: 0px;
    display: flex;
    gap: 12px;
}

.social-icons img {
    
    width: 20px;
    height: 20px;
    
    transition: opacity 0.3s ease;
}

.social-icons img:hover {
    opacity: 1;
}




.footer-img{
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 150px;
    text-align: center; 
}

.footer-right a{
    transition: color 0.4s;
}
.footer-right a:hover{
    color: #ECAE00;
}
